:root {
  /*-------------------
    Brand Colors
  --------------------*/
  --primary-color: hsl(var(--hsl-blue-500) / 90%);

  /*-------------------
    Form Input
  --------------------*/
  --input-background: var(--color-neutral-100);

  /*-------------------
    Focused Input
  --------------------*/
  --focused-form-muted-border-color: var(--color-blue-500);
  --focused-outline-color: hsl(var(--hsl-blue-500) / 30%);

  /*-------------------
    Page
  --------------------*/
  --page-background: var(--color-neutral-50);
  --text-color: var(--color-neutral-600);

  /*-------------------
    Links
  --------------------*/
  --link-hover-color: var(--color-blue-700);

  /*-------------------
    Highlighted Text
  --------------------*/
  --highlight-background: var(--color-neutral-300);

  /*-------------------
    Emotive Colors
  --------------------*/
  --info-color: var(--color-blue-500);
  --warning-color: var(--color-yellow-500);

  /*-------------------
    Neutral Text
  --------------------*/
  --unselected-text-color: var(--color-violet-400);
  --selected-text-color: var(--color-blue-900);

  /*-------------------
    Borders
  --------------------*/
  --border-color: hsl(var(--hsl-neutral-500) / 15%);
  --strong-border-color: hsl(var(--hsl-neutral-500) / 22%);
  --solid-border-color: var(--color-neutral-300);

  /*-------------------
    Button
  --------------------*/
  --button-background: hsl(var(--hsl-neutral-100)) none;
  --button-hover-background-color: hsl(var(--hsl-neutral-200) / 30%);
  --basic-button-hover-background: hsl(var(--hsl-neutral-50) / 50%);

  /*-------------------
    Elements
  --------------------*/
  --kbd-background: var(--color-neutral-50);
  --kbd-border-color: var(--color-neutral-200);

  /*-------------------
    Header
  --------------------*/
  --header-text-color: var(--color-yellow-500);

  /*-------------------
    Input
  --------------------*/
  --input-focus-border-color: var(--color-blue-500);

  /*-------------------
    Segment
  --------------------*/
  --segment-background: var(--color-neutral-50);
  --secondary-segment-background: hsl(var(--hsl-neutral-100) / 50%);
  --grouped-segment-hover-background: hsl(var(--hsl-neutral-100) / 80%);
  --piled-segments-background: var(--color-neutral-50);

  /*-------------------
    Form
  --------------------*/
  --form-select-background: var(--color-neutral-50);

  /*-------------------
    Menu
  --------------------*/
  --menu-background: var(--color-neutral-50);
  --vertical-menu-background: hsl(var(--hsl-neutral-50) / 70%);
  --tabular-menu-active-background: none hsl(var(--hsl-neutral-100));

  /*-------------------
    Popup
  --------------------*/
  --popup-background: var(--color-neutral-100);

  /*-------------------
    Table
  --------------------*/
  --table-header-background: hsl(var(--hsl-neutral-300) / 30%);

  /*-------------------
    Dropdown
  --------------------*/
  --dropdown-menu-background: var(--color-neutral-50);
  --inline-dropdown-menu-background: hsl(var(--hsl-neutral-50) / 70%);

  /*-------------------
    Modal
  --------------------*/
  --modal-box-header-background: var(--color-neutral-100);
  --modal-box-content-background: var(--color-neutral-50);
  --modal-box-actions-background: var(--color-neutral-100);

  /*-------------------
    Side Bar
  --------------------*/
  --sidebar-background: var(--color-neutral-100);
  --sidebar-border-right: 0px solid hsl(var(--hsl-neutral-100));
  --sidebar-menu-item-color: var(--text-color);
  --sidebar-sync-status-view-background: hsl(var(--hsl-neutral-100));
  --sidebar-sync-status-view-border-top: 1px solid
    hsl(var(--hsl-neutral-200) / 50%);

  /*-------------------
    Note List Bar
  --------------------*/
  --note-list-bar-background: var(--color-neutral-50);
  --note-list-bar-border-right: 1px solid hsl(var(--hsl-neutral-100));
  --note-list-view-item-header-color: var(--text-color);
  --note-list-view-item-separator-border: 1px solid hsl(var(--hsl-neutral-100));
  --note-list-view-item-date-color: hsl(var(--hsl-violet-500));
  --note-list-view-item-selected-background: hsl(var(--hsl-blue-500) / 20%);
  --note-list-view-item-active-background: hsl(var(--hsl-blue-500) / 40%);
  --note-search-bar-input-background: var(--color-neutral-100);

  /*-------------------
    Editor
  --------------------*/
  --editor-background: var(--color-neutral-50);
  --editor-floating-actions-background: hsl(var(--hsl-neutral-100) / 70%);
  --editor-drawer-background: hsl(var(--hsl-neutral-200) / 70%);

  /*-------------------
    Notifications
  --------------------*/
  --notification-item-background: hsl(var(--hsl-neutral-50) / 80%);

  /*-------------------
    Preferences
  --------------------*/
  --preferences-sidebar-background: var(--color-neutral-100);
  --preferences-view-background: var(--color-neutral-50);

  /*-------------------
    Note Status
  --------------------*/
  --note-status-active: hsl(var(--hsl-blue-500));
  --note-status-onhold: hsl(var(--hsl-yellow-500));
  --note-status-completed: hsl(var(--hsl-cyan-500));
  --note-status-dropped: hsl(var(--hsl-red-600));
}

/*-------------------
  Acrylic background window
--------------------*/

:root:has(body.acrylic-window) {
  --page-background: transparent;
  --sidebar-background: hsl(var(--hsl-neutral-200) / 30%);
  --sidebar-sync-status-view-background: hsl(var(--hsl-neutral-100) / 30%);
  --note-list-bar-background: hsl(var(--hsl-neutral-50) / 70%);
  --editor-background: hsl(var(--hsl-neutral-50) / 90%);
  --inline-dropdown-menu-background: hsl(var(--hsl-neutral-50));
  --vertical-menu-background: hsl(var(--hsl-neutral-50));
}

:root:has(body.acrylic-window.platform-win32) {
  --page-background: hsl(var(--hsl-white) / 40%);
}
